#search_id-search-date-input {
	float: left;
	height: 28px;
	margin: 0 4px 0 0;
}

#tabs {
	margin-top: 10px;
}

.tabs-text-pre {
	height: 100%;
	width: 100%;
}

#tabs-preview,
#tabs-text {
	height: 335px;
	overflow: auto;
}

#thickbox-footer-close {
	margin-top: 10px;
}

#thickbox-footer-close:hover {
	background: #eee;
	color: #666;
}

#TB_ajaxContent {
	padding-bottom: 10px !important; /* Override the default Thickbox css values. */
}

#el-pro-msg {
	display: inline-block;
	margin: 7px 0;
}

.column-result .dashicons {
	font-size: xx-large;
}

.column-result .dashicons-yes-alt {
	color: #00C853;
}

.column-result .dashicons-dismiss {
	color: #E53935;
}

#ck-mail-log-btn{
	margin-left: 5px;
}

#ck-mail-elog-options{
	margin-left: 15px;
    margin-right: 15px;
}

.ck-mail-exp-col{
	float: left;
	width: 50%;
}

.ck-mail-logs-heading-wrapper h2{
	font-size: 20px;	
}

.ck-mail-export-options label{
	font-weight: 500;
    line-height: 25px;
    font-size: 14px;
    color: #676c70;
}

.ck-mail-export-options label:hover{
	cursor: pointer;
}

.ck-mail-export-h2{
	margin-top: 10px;
}

.ck-mail-d-none{
	display: none;
}

#ck-mail-export-logs-btn{
	float: right;
	margin: 10px;
}

.ck-mail-exp-error{
	color: red;
    display: block;
    margin: 0px;
    padding: 0px;
    font-weight: 500;
}